@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

          /*   .input-container {
            width: 60%;
            margin: 50px 10px;
            display: flex;
            align-items: center;
            border: 1px solid #aaa;
            border-radius: 3px;
            } */
         /*    
            i {
            margin: 0 10px;
            color: #aaa;
            cursor: default;
            } */